In [229]:
## 6.5.2
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [230]:
## 6.5.2 One caveat to using gmaps: The data we use for any mapping must 
## be either an integer or a floating-point decimal number. Let's check 
## the data types for the columns of our DataFrame.

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2021-07-23 18:53:00,59.7035,30.7861,62.49,69,82,1.83
1,1,Arraial Do Cabo,BR,2021-07-23 18:56:09,-22.9661,-42.0278,76.96,60,0,16.11
2,2,Kavieng,PG,2021-07-23 18:56:10,-2.5744,150.7967,81.97,79,19,13.18
3,3,Cukai,MY,2021-07-23 18:56:11,4.2500,103.4167,80.74,84,100,2.13
4,4,Punta Arenas,CL,2021-07-23 18:51:44,-53.1500,-70.9167,41.11,75,20,20.71

In [231]:
## 6.5.2 Data used for mapping with gmaps must be an intger or floating decimal. 
## Check that the data types are integers or floats.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [232]:
## 6.5.2

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [233]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
    #temps.append(max(temp, 0))

In [234]:
##  6.5.2 Create the heatmap for the maximum temperature. 
## The general syntax for creating a heatmap is as follows.

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [235]:
## 6.5.2 
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [236]:
## 6.5.2 
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [237]:
## 6.5.2 
# Windspeed Heatmap 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [238]:
## write two input statements for the app that will prompt the customer to 
## add minimum and maximum temperature values and convert these values to 
## floating-point decimals.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [240]:
## Filter the maximum temperature column in the city_data_df DataFrame using 
## logical operators to create a new DataFrame with the cities that meet the 
## customer's criteria.

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Arraial Do Cabo,BR,2021-07-23 18:56:09,-22.9661,-42.0278,76.96,60,0,16.11
2,2,Kavieng,PG,2021-07-23 18:56:10,-2.5744,150.7967,81.97,79,19,13.18
3,3,Cukai,MY,2021-07-23 18:56:11,4.2500,103.4167,80.74,84,100,2.13
9,9,Albany,US,2021-07-23 18:55:22,42.6001,-73.9662,79.27,60,77,6.51
10,10,Lorengau,PG,2021-07-23 18:56:16,-2.0226,147.2712,81.03,80,17,5.46
14,14,Avarua,CK,2021-07-23 18:56:19,-21.2078,-159.7750,73.45,83,40,8.05
15,15,Jamestown,US,2021-07-23 18:53:32,42.0970,-79.2353,79.18,51,90,5.01
17,17,Thompson,CA,2021-07-23 18:56:21,55.7435,-97.8558,75.36,33,20,20.71
18,18,Puerto Escondido,MX,2021-07-23 18:56:22,15.8500,-97.0667,89.94,54,78,7.87
19,19,Buala,SB,2021-07-23 18:56:23,-8.1450,159.5921,79.14,84,55,5.21

In [241]:
## 6.5.3 Consider the following guidance:
## Depending on the time of year and the seasons, you might have to adjust 
## the minimum and maximum temperature to get enough cities.
## It is a good idea to keep the number of cities to fewer than 200 to make it 
## easier to plot the markers on the heatmap.
## If you have some rows with null values, you'll need to drop them using the dropna() 
## method at the end of your filtering statement when you are creating the new DataFrame.

preferred_cities_df.count()

City_ID       276
City          276
Country       276
Date          276
Lat           276
Lng           276
Max Temp      276
Humidity      276
Cloudiness    276
Wind Speed    276
dtype: int64

In [242]:
## 6.5.4 TIP: Don't add hotel info to the preferred_cities_df DataFrame; it is our filtered DataFrame 
## and the customer will always filter it for each trip. A new DF specifically for the data needed 
## to create a heatmap and pop-up markers.

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
1    Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
2            Kavieng      PG     81.97  -2.5744  150.7967
3              Cukai      MY     80.74   4.2500  103.4167
9             Albany      US     79.27  42.6001  -73.9662
10          Lorengau      PG     81.03  -2.0226  147.2712
14            Avarua      CK     73.45 -21.2078 -159.7750
15         Jamestown      US     79.18  42.0970  -79.2353
17          Thompson      CA     75.36  55.7435  -97.8558
18  Puerto Escondido      MX     89.94  15.8500  -97.0667
19             Buala      SB     79.14  -8.1450  159.5921

In [243]:
## Retrieve Hotels from a Nearby Search
## The first step for retrieving hotels from a Nearby Search 
## is to set the parameters for the search.

In [244]:
## 6.5.4
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [264]:
## 6.5.4 Iterate Through hotel_df DataFrame
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
      hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
       print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [269]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
2,Kavieng,PG,81.97,-2.5744,150.7967,Nusa Island Retreat
3,Cukai,MY,80.74,4.2500,103.4167,OYO 90038 Dalyla Inn Chalet
9,Albany,US,79.27,42.6001,-73.9662,
10,Lorengau,PG,81.03,-2.0226,147.2712,Lorengau Harbourside Hotel
14,Avarua,CK,73.45,-21.2078,-159.7750,Paradise Inn
15,Jamestown,US,79.18,42.0970,-79.2353,Hampton Inn & Suites Jamestown
17,Thompson,CA,75.36,55.7435,-97.8558,Burntwood Hotel
18,Puerto Escondido,MX,89.94,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
19,Buala,SB,79.14,-8.1450,159.5921,Maringe Lagoon Lodge

In [286]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [288]:
## 6.5.4 First, the info_box_template variable is assigned to a multiline 
## string using three quotes. The text inside the multiline string is HTML 
## code. HTML code is defined by the opening and closing the angular brackets 
## (e.g., <tag> and <tag/>). Angular brackets always come in pairs. 
## The opening angular bracket is followed by some text inside, such as dl, dt, and dd. 
## The closing angular bracket is preceded by a forward-slash ("/"). 
## The text inside with the angular brackets is called a tag. Here's what these tags mean:

## The <dl> tag is a description list (dl).
## The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
## The <dd> tag is used to define the term or name or <dt> tag.

## For our purposes, we'll add the hotel name, city name, country code, and the 
##maximum temperature values from the hotel_df DataFrame as the description definition.

# Store the DataFrame Row. Click on a marker to display the hotel info

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]